@use 'sass:math';

$hover-font-color: rgb(76, 135, 207);
$dark-grey: rgb(72, 72, 72);
$darker-grey: rgb(64, 64, 64);
$darkest-grey: rgb(20, 19, 19);


* {
  font-family: Arial, Helvetica, sans-serif
  
}
body {
  margin: 0 auto;
  background-color: black;
  color: white;
}
.artist-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin hover-pointer {
  cursor: pointer;
  color: $hover-font-color;
  color: $hover-font-color;
}

@mixin scrollable-row {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

@mixin card-size($card-width: 200px) {
  width: $card-width;
  .logo {
    width: 100%;
    height: $card-width;
  }
}

.favorite-row {
  @include scrollable-row
}

.home {
  display: flex;
  height: calc(100vh - 3em - 1px);
  background-color: black;
  box-shadow: inset 0 0 100px 60px $darkest-grey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 20px;
  }
}

.fixed-display-card {
  
  background-color: $darkest-grey;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 5px;
  width: 200px;
  h4 {
    margin: 10px 0;
  }
  &:hover {
    @include hover-pointer;
  }
  .logo {
    width: 200px;
    height: 200px;
  }
}

.adaptive-display-card {
  background-color: $darkest-grey;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 5px;
  h4 {
    margin: 10px 0;
  }
  &:hover {
    @include hover-pointer;
  }

  @media (min-width: 1551px) {
    @include card-size(13.6vw);
  }
  @media (min-width: 1231px) and (max-width: 1550px) {
    @include card-size(15.8vw);
  }
  @media (min-width: 1024px) and (max-width: 1230px) {
    @include card-size(19vw);
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    @include card-size(23.5vw);
  }
  @media (max-width: 767px) {
    @include card-size(31vw);
  }
}

.pointer:hover {
  @include hover-pointer
}

.navbar {
  height: 3em;
  width: 100%;
  background-color: $darkest-grey;
  border-bottom: 1px solid $hover-font-color;
  box-shadow: 0px 1px $dark-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .navbar-item {
    padding: 0 10px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    text-decoration: none;
    &:hover {
      color: $hover-font-color
    }
  }
}

.gigs {
  .gig-card {
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    background-color: $darkest-grey;
    display: flex;
    flex-direction: row;
    width: 700px;
    .logo {
      width: 200px;
      height: 200px;
    }
    .left-half {
      flex: 1;
      ul {
        list-style: none;
        text-align: left;
      }
    }
    .right-half {
      flex: 1;
    }
    &:hover {
      @include hover-pointer;
    }
  }
}

.artist-show {
  .cover {
    display: flex;
    flex-direction: row;
    .logo {
      width: 300px;
      height: 300px;
    }
    .info {
      flex: 1;

      .genres {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        .genre {
          width: 200px;
        }
      }
    }
  }
  .middle-card{
    display: flex;
    flex-direction: row;
    p{
      flex: 2;
    }
    ul {
      flex: 1;
      list-style: none;
      li {
        margin-bottom: 0.5em;
      }
    }
  }
  .releases {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.favorite {
  .favorited {
    background-color: $hover-font-color;
  }
  .not-favorited {
    background-color: $darker-grey;
  }
}

@mixin form {
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 400px;
      padding: 10px;
      border: none;
      border-radius: 10px;
      margin: 10px 0;
      &:focus {
        outline: none;
      }
    }
    .multi-select {
      width: 400px;
      color: $darker-grey;
    }
    .form-error {
      border: 2px solid red;
    }
    .form-error-detail {
      color: red;
      margin-top: 0;
    }

    .description {
      height: 100px;
    }
    button {
      width: 200px;
      padding: 10px;
      margin-top: 20px;
      border: none;
      border-radius: 10px;
      color: white;
      background-color: $dark-grey;
      &:hover {
        background-color: $darker-grey;
        color: $hover-font-color;
        cursor: pointer;
      }
    }
  }
}

.auth {
  @include form
}

.create-form {
  @include form
}

.artist-form {
  @include form
}

.release {
  .artwork {
    width: 300px;
    height: 300px;
  }
}

.overlay {
  display: block;
  background-color: rgba(0,0,0,0.7);
}